{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead"
          style="background-image: url('https://images.unsplash.com/photo-1525935944571-4e99237764c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1951&q=80')">
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading">
                      <h1>Admin only.</h1>
                      <span class="subheading">Control.</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for user in users %}
        <div class="post-preview">
            <h2 class="post-title">
              ID: {{user.id}}
            </h2>
            <h3 class="post-subtitle">
              EMAIL: {{user.email}}
            </h3>
            <h3 class="post-subtitle">
              NAME: {{user.name}}
            </h3>
            <h3 class="post-subtitle">
              Confirmed: {{user.confirmed}}
            </h3>
            <h3 class="post-subtitle">
              Admin: {{user.admin}}
            </h3>
            <br>
                <form action="{{ url_for('admin_control') }}" method="post">
                    <input type="text" name="new_name" placeholder="New Name" required="required" />
                    <input type="text" name="user_id" placeholder="User ID" required="required" />
                    <button type="submit" class="btn btn-primary btn-block btn-large">Change the name.</button>
                </form>
            <br>
          <p class="post-meta">
<!--if user breaks rules of this site he can be deleted-->
            {% if current_user.is_authenticated: %}
            {% if current_user.email == "tohaartuhov@mail.ru" or current_user.email == "sanamyi7@gmail.com": %}
            <a href="{{url_for('delete_user', user_id=user.id) }}">✘ -  DELETE THIS ACCOUNT</a>
            {% endif %}
            {% endif %}

          </p>
          <p class="post-meta">
<!--You may change the admin status-->
            {% if current_user.is_authenticated: %}
            {% if current_user.email == "tohaartuhov@mail.ru" or current_user.email == "sanamyi7@gmail.com": %}
            <a href="{{url_for('make_admin', user_id=user.id) }}">CHANGE ADMIN STATUS</a>
            {% endif %}
            {% endif %}

          </p>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}